body {
    margin: 0;
}

main, nav {
	max-width: 980px;
	width: 90%;
	margin: auto;
}

nav {
    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
        background-color: #f1f1f1;
        font-size: 0;

        li {
            display: inline-block;

            a {
                color: black;
                text-decoration: none;
                padding: 8px 16px;
                display: block;
                border-right: 1px solid black;
                font-size: 16px;

                &.active {
                    background-color: lightblue;
                }
                
                &:hover {
                    background-color: darkgray;
                    color: #f1f1f1;
                }

            }
        }
    }
}