include _mixins.pug
doctype html
html(lang="en")
    head
        meta(charset='UTF-8')
        title Erik Spitzer
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(name="description" content="Tool for scaling monsters up or down in Dungeons and Dragons 5th edition.")
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
        link(rel='stylesheet' type='text/css' href='styles/global.min.css')
    body
        nav 
            ul
                +navItem('Home','index')
                +navItem('Everquest','everquest')
                +navItem('D&D','dungeons-and-dragons')
                +navItem('Mount and Blade','mount-and-blade')
        main
            block content
            footer
                p Feeling social?
                a.fa.fa-linkedin(href="https://www.linkedin.com/in/erikspitzer/" target="_blank")
                a.fa.fa-twitter(href="https://twitter.com/Renmauzuo" target="_blank")
                a.fa.fa-instagram(href="https://www.instagram.com/erik.r.spitzer/" target="_blank")
                    
