extends ../pug/_base.pug

block content 
    header 
        h1 Mount and Blade Mods
        p A collection of mods for Mount and Blade: Warband and Mount and Blade 2: Bannerlord. Some of these I created, others are mods created by others that I contributed to.
    section
        h2 Bannerlord Disable Companion Donations
        p This is a simple mod I made for Mount and Blade 2: Bannerlord which prevents the player's companions/relatives from donating their troops to settlements they enter. 
        p 
            a(href="https://github.com/Renmauzuo/bannerlord-disable-companion-donations") Github Repo
        p 
            a(href="https://www.nexusmods.com/mountandblade2bannerlord/mods/703") Nexus Mods Download
    section 
        h2 Warband Autotrader 
        p A mod for Mount and Blade: Warband that makes it easier to buy and sell trade goods. Users can set thresholds for buy/sell prices for various goods, which are then automatically bought and sold when the player visits towns or villages.
        p
            a(href="https://github.com/Renmauzuo/warbandautotrade") Github Repo
    section
        h2 Dickplomacy Reloaded (Contributor)
        p Unlike newer games like Skyrim which let you pick and choose your mods, Warband modules are loaded one at a time. As a result, mod developers for Warband assemble many small mods into larger mod packs. I knew if I wanted my Autotrader mod to see any real use, it would need to be included in an existing mod pack. Dickplomacy Reloaded was a prime candidate since it was one of the more popular open source mods (not just because of the adult content, it also has lots of interesting gameplay enhancements [but maybe it is a little bit because of the adult content]). With the previous developer's blessing I incorporated my Autotrader mod, and then once I had my hands in the code I fixed a few other outstanding issues.
        p
            a(href="https://github.com/LilyModzStuff/warband_mod_source") Github Repo
    section 
        h2 The Last Days of the Third Age (Contributor)
        p The Last Days of the Third Age, more often referred to as The Last Days or simply TLD, is a popular Lord of the Rings themed Mod for Warband. Often considered one of the best Lord of the Rings video games, I was delighted to learn it was open source and started making a few contributions. Aside from some minor quality of life changes, my main contribution has been the friendship rewards system, where allied lords will occasionally gift the player troops or armor depending on how fond they are of the player.
        p 
            a(href='https://tldmod.github.io/') Mod Page